body {
  margin: auto;
  width: 1200px;
  height:900px;
}

#bg {
  width: 1200px;
  height: 900px;
  background-color: dodgerblue;
}

#sc {

}
#sc img {
  margin-left: 400px;
  margin-top: 300px;
}

#searchForm {
  margin-left: 500px;
}

